.registration-section {
    margin-top: 20px;
}

.registration-form {
    width: 300px;
    margin: auto;
}

.form-group {
    margin-bottom: 15px;
}

.label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #218838;
}