<mat-card>
<mat-card-header>
  <mat-card-title>{{ issue?.title }}</mat-card-title>
  <mat-card-subtitle>{{ issue?.project }}, {{ issue?.type }}</mat-card-subtitle>
</mat-card-header>
  
  <mat-card-content>
    <mat-list>
      <mat-list-item><strong>Priority:</strong> {{ issue?.priority }}</mat-list-item>
      <mat-list-item><strong>Summary:</strong> {{ issue?.summary }}</mat-list-item>
      <mat-list-item><strong>Description:</strong> {{ issue?.description }}</mat-list-item>
      <mat-list-item><strong>Due Date:</strong> {{ issue?.dueDateTime }}</mat-list-item>
      <mat-list-item><strong>Created:</strong> {{ issue?.createdAt }}</mat-list-item>
      <mat-list-item>
        <strong>Original Estimate Time:</strong> {{ issue?.originalEstimate }}
      </mat-list-item>
      <mat-list-item>
        <strong>Remaining Estimate Time:</strong> {{ issue?.remainingEstimate }}
      </mat-list-item>
      <mat-list-item><strong>Author:</strong> {{ issue?.authorId }}</mat-list-item>
      <mat-list-item><strong>Assigned Users:</strong> {{ issue?.assigneeIds }}</mat-list-item>
      <mat-list-item><strong>Comments:</strong> {{ issue?.commentIds }}</mat-list-item>
    </mat-list>
    </mat-card-content>
  </mat-card>