<mat-card>
<mat-card-header>
  <mat-card-title>{{ issue?.title }}</mat-card-title>
  <mat-card-subtitle>{{ issue?.type }}</mat-card-subtitle>
</mat-card-header>
  
  <mat-card-content>
    <mat-list>
      <mat-list-item><strong>Priority:</strong> {{ issue?.priority }}</mat-list-item>
      <mat-list-item><strong>Summary:</strong> {{ issue?.summary }}</mat-list-item>
      <mat-list-item><strong>Description:</strong> {{ issue?.description }}</mat-list-item>
      <mat-list-item><strong>Due Date:</strong> {{ issue?.dueDateTime }}</mat-list-item>
      <mat-list-item><strong>Created:</strong> {{ issue?.createdAt }}</mat-list-item>
      <mat-list-item>
        <strong>Original Estimate Time:</strong> {{ issue?.originalEstimate }}
      </mat-list-item>
      <mat-list-item>
        <strong>Remaining Estimate Time:</strong> {{ issue?.remainingEstimate }}
      </mat-list-item>
      <mat-list-item><strong>Author:</strong> {{ issue?.authorId }}</mat-list-item>
<mat-list-item
        ><strong>Assignees:</strong>
        <mat-form-field>
          <mat-label>Assignee Id</mat-label>
          <mat-select>
            @for (assigneeId of issue?.assigneeIds; track assigneeId) {
            <mat-option>{{ assigneeId }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </mat-list-item>      <mat-list-item
        ><strong>Comments:</strong>
        <mat-form-field>
          <mat-label>Comment Id</mat-label>
          <mat-select>
            @for (commentId of issue?.commentIds; track commentId) {
            <mat-option>{{ commentId }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </mat-list-item>
    </mat-list>
    </mat-card-content>
  </mat-card>